<section class="menu">
    <header [matMenuTriggerFor]="menu" class="font-menu">
        <mat-icon>menu</mat-icon>
        <mat-menu #menu class="side-menu">
            <button mat-menu-item role="link" [routerLink]="['/internal/register']">
                <mat-icon>add</mat-icon>
                <span>Registro Estudiantes</span>
            </button>
            <button mat-menu-item>
                <mat-icon>ballot</mat-icon>
                <span>Pagos Mensulaidad</span>
            </button>
        </mat-menu>
    </header>
</section>
