@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import 'base/normalize';
@import 'base/reset';

*
{
    font-family: 'Noto Sans KR', sans-serif; 
}

html, body { 
    height: 100%;
    }
body { 
    margin: 0; 
}
.side-menu {
    background-color: #090975;
    
    .mat-menu-item {
        color: #ffff;
        &
        ::selection {
            background: #36366b;
        }
    }
}
