@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@import 'base/normalize';
@import 'base/reset';

*{
    font-family: 'Noto Sans KR', sans-serif; 
}

html, body { 
    height: 100%;
    }
body { 
    margin: 0; 
}
