@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import 'base/normalize';
@import 'base/reset';
@import 'abstract/variables';
@import 'abstract/mixin';

*
{
    font-family: 'Noto Sans KR', sans-serif; 
}

html, body { 
    height: 100%;
    }

body { 
    margin: 0; 
}

.side-menu {
    background-color: $dark-blue;
    
    .mat-menu-item {
        color: $white;
    }
}
