@mixin flex-center($value-1, $value-2) {
    display: $value-1;
    align-items: $value-2;
}

@mixin from-breakpoint($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}

@mixin screen-logo-mobile () {
    width: 60px;
    height: 50px;
}

@mixin screen-logo-tablet () {
    width: 80px;
    height: 70px;
}

@mixin screen-logo-desktop () {
    width: 100px;
    height: 90px;
}
