// colors
$dark-blue: #090975;
$light-blue: #3639fc;
$white: #ffffff;
$border-gray : #c5c3c36b;
$background-option-gray : #f7f7f76b;

// screen size
$break-medium: 576px;
$break-large: 768px;

// font header
$font-small: 11px;
$font-medium: 21px;
$font-large: 25px;

// title
$padding-title-large: 50px;
$padding-title-medium: 30px;
$padding-title-mobile: 15px;
