// colors
$dark-blue: #090975;
$light-blue: #3639fc;
$white: #ffffff;

// screen size
$break-medium: 576px;
$break-large: 768px;

// font header
$font-small: 11px;
$font-medium: 20px;
$font-large: 25px;
